// $primary-color: #191970;
$primary-color: MidnightBlue;
// $secondary-color: #2a2a80;
$secondary-color: MediumBlue;
// $secondary-color: Navy;
// $secondary-color: DarkBlue;
// $secondary-color: RoyalBlue;
// $background-color: #f8f8ff;
$background-color: GhostWhite;

$text-black: #000;

$padding: 100px;
