// $primary-color: #191970;
$primary-color: Navy;
// $secondary-color: #2a2a80;
// $secondary-color: MediumBlue;
$secondary-color: DarkBlue;
// $background-color: #f8f8ff;
$background-color: GhostWhite;

$text-black: #000;
