@import '../../styles/utils/variables';
@import '../../styles/utils/mixins';
#Competences {
	@include section;
	width: 100%;

	background-color: $background-color;
	box-shadow: lightgray 4px 4px 20px;

	background-image: url('https://www.transparenttextures.com/patterns/clean-textile.png');
	.competencesContainer {
		max-width: 1440px;
		padding-left: 50px;
		padding-right: 50px;

		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(6, calc((100% - (50px * 5)) / 6));
		gap: 50px;
		margin-bottom: 50px;
		@media (max-width: 1250px) {
			grid-template-columns: repeat(4, 1fr);
			grid-gap: 25px;
		}
		@media (max-width: 1024px) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (max-width: 480px) {
			max-width: 100%;
			gap: 25px;
			grid-template-columns: repeat(1, 100%);
			justify-content: space-around;
			font-size: small;
			padding-left: 25px;
			padding-right: 25px;
		}
	}
	h2 {
		font-size: 34px;
		font-weight: 700;
		color: $primary-color;
	}
}
