@import '../../styles/utils/variables';

.competence {
	display: flex;
	// flex-direction: row;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 480px) {
		flex-direction: row;

		// width: 100%;
	}

	img {
		max-height: 128px;
		max-width: 128px;

		width: 100%;
		aspect-ratio: 1/1;
		object-fit: contain;
		// height: width;
		// margin-bottom: 25px;
		@media (max-width: 768px) {
			width: 80%;
		}
		@media (max-width: 480px) {
			// flex-direction: row;
			width: 15%;
			// margin-bottom: 0px;
		}
	}
	.progressBarAndCertificat {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}
	.progressBar {
		display: flex;
		flex-direction: column;
		align-items: center;
		// flex: 1;
		width: 100%;
		// max-width: 80%;
		@media (max-width: 480px) {
			// flex-direction: row;
			// width: 20%;
			// margin-bottom: 0px;
			display: block;
		}
		progress {
			// block-size: auto;
			// width: 100%;
			// height: 3rem;
			border: 2px solid $primary-color;
			border-radius: 15px;
			width: 100%;

			// background-color: blue;
			// color: $primary-color;
			// -webkit-appearance: none;
			// -moz-appearance: none;
			// appearance: none;
			@media (max-width: 768px) {
				// width: calc();
				max-width: 180px;
			}
			@media (max-width: 480px) {
				// flex-direction: row;
				// width: 20%;
				// margin-bottom: 0px;
				max-width: 100%;
			}
		}

		progress::-webkit-progress-bar {
			// background-color: #b9b7b7;
			background-color: #d0d0d0;
			border-radius: 15px;
		}

		progress::-webkit-progress-value {
			background-color: $secondary-color;
			// border-radius: 15px;
		}
	}

	.certificat {
		padding-top: 15px;
		// font-size: smaller;
		text-align: center;
		// display: flex;
		// flex-direction: row;
		// align-items: center;

		font-weight: 700;
		@media (max-width: 400px) {
			padding-top: 0px;
			display: flex;
			flex-direction: column;
		}
		@media (max-width: 480px) {
			// flex-direction: row;
			// width: 20%;
			// margin-bottom: 0px;
			// display: flex;
		}
		.organisme {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			// font-weight: 700;
			.badge {
				color: #2e7e32;
				// border: black;
				// background-color: $primary-color;
				padding: 1px;
				// border-radius: 15px;
				margin-right: 10px;
			}
		}
		// .separation {
		// 	display: none;
		// 	@media (max-width: 480px) {
		// 		display: block;
		// 	}
		// 	@media (max-width: 400px) {
		// 		display: none;
		// 	}
		// }
		.certificatText {
			padding: 15px 0;
			// width: 100%;
			// text-align: center;
			// display: inline-block;
			// font-size: smaller;
			// align-self: center;
			@media (max-width: 480px) {
				padding: 0;
			}
		}
	}
}
