@import '../../styles/utils/variables';

.competence {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	@media (max-width: 480px) {
		flex-direction: row;
	}

	img {
		max-height: 128px;
		max-width: 128px;

		width: 100%;
		aspect-ratio: 1/1;
		object-fit: contain;
		@media (max-width: 768px) {
			width: 80%;
		}
		@media (max-width: 480px) {
			width: 15%;
		}
	}
	.progressBarAndCertificat {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}
	.progressBar {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		@media (max-width: 480px) {
			display: block;
		}
		progress {
			border: 2px solid $primary-color;
			border-radius: 15px;
			width: 100%;
			@media (max-width: 768px) {
				max-width: 180px;
			}
			@media (max-width: 480px) {
				max-width: 100%;
			}
		}

		progress::-webkit-progress-bar {
			background-color: #d0d0d0;
			border-radius: 15px;
		}

		progress::-webkit-progress-value {
			background-color: $secondary-color;
		}
	}

	.certificat {
		padding-top: 15px;
		text-align: center;

		font-weight: 700;
		@media (max-width: 400px) {
			padding-top: 0px;
			display: flex;
			flex-direction: column;
		}
		@media (max-width: 480px) {
		}
		.organisme {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			.badge {
				color: #2e7e32;
				padding: 1px;
				margin-right: 10px;
			}
		}
		.certificatText {
			padding: 15px 0;
			@media (max-width: 480px) {
				padding: 0;
			}
		}
	}
}
